.fc-toolbar-chunk {
  display: flex;
}

.App {
  background-color: whitesmoke;
}

.App-header {
  min-height: calc(20px + 7vmin);
  text-align: center;
  background-color: #6c778d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 4vmin);
  color: white;
  padding-right: 5%;
  padding-left: 5%;
  /*position: sticky;
  top: 0px;
  z-index: 1;*/
}

.calendar-container {
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}
