.App {
  position: absolute;

  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.App-header {
  min-height: calc(20px + 7vmin);
  text-align: center;
  background-color: #6c778d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.calendar-container {
  margin-right: calc(20px + 7vmin);
  margin-left: calc(20px + 7vmin);
  margin-top: 2%;
}
